<template name="tmp_event_item">
    <article class="col-sm-3 col-md-3 col-lg-3">
        <div class="profile">
            <img src="{{Picture}}" alt="..." class="img-responsive img-circle" style="height:150px; width:150px;">
            <p>{{Name}}</p>
            <p>{{Promoter}}</p>
            <p>{{Slogan}}</p>
        </div>
        <ul class="list-group">
            <a href="/{{Unique}}"><li class="list-group-item">Open Page</li></a>
            {{#if isPromoter}}
            <a href="#"><li class="list-group-item">Delete</li></a>
            {{/if}}
        </ul>
    </article>
</template>